body {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container {
  max-width: 1280px;
  width: 100%;
}

/* NAV STYLES */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 2rem;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 3.25rem;
}

nav button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

nav ul {
  display: none;
}

/* HEADER STYLES */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2.75rem;
  padding-bottom: 3.25rem;
  border-bottom: 2px solid black;
  margin-bottom: 3.5rem;
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover,
header a:active {
  text-decoration: underline;
}

header img {
  width: 100%;
}

header .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  width: 20.938rem;
}

header .heading__title {
  font-family: "New York Extra Large";
  font-size: 2.25rem;
  line-height: 2.688rem;
  letter-spacing: normal;
  margin: 0;
}

header .heading__subtitle {
  font-family: "SF Mono";
  font-weight: 400;
  line-height: 170%;
  letter-spacing: normal;
  margin: 0;
}

/* MAIN STYLES */
main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.813rem;
  margin-bottom: 5.125rem;
}

main h2 {
  margin: 0;
  font-family: "New York Extra Large";
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.375rem;
  letter-spacing: normal;
}

.articles {
  width: 20.938rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  place-items: center;
  text-align: center;
  gap: 2.625rem;
}

.articles .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.articles .article__img {
  width: 100%;
}

.articles .article__link {
  width: 18rem;
  text-decoration: none;
  color: black;
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 120%;
  letter-spacing: normal;
}

.articles .article__link:hover {
  text-decoration: underline;
}

.articles .article__link:active {
  text-decoration: underline;
}

/* FOOTER STYLES */
footer {
  background: black;
  color: white;
  padding-top: 6.438rem;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2rem;
}

footer p {
  width: 17.938rem;
  font-family: "New York Small";
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 140%;
  letter-spacing: normal;
}

footer ul {
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.688rem;
}

footer ul a {
  color: white;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 170%;
  letter-spacing: normal;
}

footer small {
  font-family: "SF Pro Text";
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: normal;
}

/* MEDIA QUERIES */
@media (min-width: 1280px) {
  .container {
    max-width: 1972px;
  }
  nav {
    padding: 3.25rem 4rem;
    margin-bottom: 4.75rem;
  }
  nav button {
    display: none;
  }
  nav ul {
    display: block;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  nav ul a {
    text-decoration: none;
    font-family: "New York Small";
    font-weight: 500;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: black;
  }
  nav ul a:hover {
    text-decoration: underline;
  }
  header {
    padding-bottom: 2rem;
    margin-bottom: 4rem;
  }
  header img {
    width: 53.375rem;
  }
  header .heading {
    width: 48rem;
    gap: 2rem;
  }
  header .heading__title {
    font-size: 3.375rem;
    line-height: 100%;
  }
  header .heading__subtitle {
    width: 37rem;
    font-size: 1.25rem;
  }
  main {
    gap: 2.5rem;
  }
  main h2 {
    font-size: 2.75rem;
    line-height: 3.313rem;
  }
  main .articles {
    width: 39.75rem;
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 4rem;
    -webkit-column-gap: 1.75rem;
            column-gap: 1.75rem;
  }
  main .articles .article {
    width: 19rem;
    height: 17.125rem;
  }
  main .articles .article__img {
    width: 19rem;
    height: 11rem;
  }
  footer p {
    width: 30.5rem;
    font-size: 1rem;
  }
}
